<div class="data-item" onmouseover={{action "itemHover"}} onmouseout={{action "itemUnHover"}}>
	<div class="grid-check-box">
		<i class="icon-folder-open"></i>
		<span {{action "selectItem"}}>
			<label></label>
		</span>
	</div>
	<a class="underline">{{data.name}}</a>
</div>
