<button class="transparent">
	<i class="icon-share"></i>
	分享
</button>

<button class="transparent">
	<i class="icon-download"></i>
	下载
</button>

<button class="transparent">
	<i class="icon-trash"></i>
	删除
</button>

<button class="transparent">
	重命名
</button>

<button class="transparent">
	复制到
</button>

<button class="transparent">
	移动到
</button>