<div class="input-password">
	<input type="password" placeholder="input-password">
	{{#if icon}}
		<i class="icon-eye inset" {{action "showKey"}}></i>
		<i class="icon-eye-off inset hide" {{action "hideKey"}}></i>
	{{/if}}
</div>